<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")  %>
<body>
  <%const str = "bolly"%>  <%# to put variable in code  "node app.js"  %> 
  <p><%= str %></p>
  <p><%= titlex %></p>     <%# imported variable from app.js  %> 
  <%- include("./partials/nav.ejs")  %>
      

      <div class= "about content">
       <h2>about</h2>
       <p>No.1 16:55 24/11/2023    consectetur adipisicing elit. Ducimus similique nisi iusto qui porro consequuntur, magnam temporibus velit eligendi iste.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus similique nisi iusto qui porro consequuntur, magnam temporibus velit eligendi iste.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus similique nisi iusto qui porro consequuntur, magnam temporibus velit eligendi iste.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus similique nisi iusto qui porro consequuntur, magnam temporibus velit eligendi iste.</p>
      </div>
      <%- include("./partials/footer.ejs")  %>      
</body>
</html>