<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")  %>
<body>
  <%- include("./partials/nav.ejs")  %>


  <div class="blogs content">
    <h2>all blogs</h2>
    <h3>No.19 15:40 6/12/2023  have list       consectetur adipisicing elit. Ducimus similique nisi iust</h3>
  
    <%  
    if (blogs.length>0)
    {
    blogs.forEach((blog)=>
    {  
    %>
     <a class="single" href="/blogs/<%=blog._id%>">
        <h3><%=blog.title%></h3>
        <h4><%=blog.snippet%></h4>
        <h6><%=blog.body%></h6>
        <h5>twelfthxxx</h5>
     </a>    
    <%  
                        })                              
      }   else {     
    %>
         <p>no entries</p>
    <%   } 
    %> 

                                               
                                                                     
    <%- include("./partials/footer.ejs")  %>                                                               
                                                                   
  </div>
</body>
</html>